* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #faf7f4;
  color: #444;
  text-align: center;
  padding: 50px;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 25px;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

#box {
  width: 250px;
  height: 150px;
  background-color: lightpink;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px auto;
  border-radius: 10px;
}